html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

table.board {
  border-collapse: collapse;
  margin: 0 auto;
}

table tr td {
  width: 8vw;
  height: 8vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: url('images/space.gif');
  background-size: 8vw;
  background-repeat: no-repeat;
  span {
    display: block;
    padding: 0;
    margin: 0;
  }
}

td.portal {
  background-image: url('images/portal1.gif');

  &.has-particle .particle {
    display: none;
  }
}

td.black-hole {
  background-image: url('images/blackHole.gif');

  &.has-particle .particle {
    display: none;
  }
}

td.change-direction {
  background-image: url('images/arrow.gif');
}

.change-direction-up {
  transform: rotate(90deg);

  > * {
    transform: rotate(-90deg);
  }
}
.change-direction-right {
  transform: rotate(180deg);

  > * {
    transform: rotate(-180deg);
  }
}
.change-direction-down {
  transform: rotate(270deg);
  > * {
    transform: rotate(-270deg);
  }
}

td.mirror {
  background-image: url('images/reverse.gif');
}

td.energizer {
  background-image: url('images/energizer.gif');
}

td.mirror-left {
  background-image: url('images/mirror.gif');
  transform: rotate(90deg);
}

td.mirror-right {
  background-image: url('images/mirror.gif');
}

td.cluster-1 {
  background-image: url('images/oneCore.gif');

  &.has-particle {
    background-image: url('images/oneToTwoCore.gif');

    .particle {
      display: none;
    }
  }
}

td.cluster-2 {
  background-image: url('images/twoCore.gif');

  &.has-particle {
    background-image: url('images/twoToThreeCore.gif');

    .particle {
      display: none;
    }
  }
}

td.cluster-3 {
  background-image: url('images/threeCore.gif');

  &.has-particle {
    background-image: url('images/threeToFourCore.gif');

    .particle {
      display: none;
    }
  }
}

td.cluster-4 {
  background-image: url('images/fourCore.gif');

  &.has-particle {
    background-image: url('images/fourExplosion.gif');

    .particle {
      display: none;
    }
  }
}

.particle {
  display: inline-block;
  background-image: url('images/projectile2.gif');
  background-size: 2vw;
  width: 2vw;
  height: 4vw;
}

.particle-up { transform: rotate(0deg); }
.particle-left { transform: rotate(270deg); }
.particle-right { transform: rotate(90deg); }
.particle-down { transform: rotate(180deg); }
